<footer class="page-footer purple darken-1" style="padding-bottom: 8px;">
  <div class="container">
    <span class="white-text">
      © 2020 <a href="https://www.meetup.com/CHS-Amazon-Web-Services" target="_blank" class="white-text">Charleston Aws Meetup</a>
    </span>
    <span class="right white-text">
      Source on <a href="https://github.com/awsmeetupdemo/chs-heroku-demo" target="_blank" class="white-text">Github</a>
    </span>
  </div>
</footer>