
<footer class="page-footer purple darken-1">
  <div class="footer-copyright">
    <div class="container">
      © 2020 <a href="https://www.meetup.com/CHS-Amazon-Web-Services" class="">Charleston Aws Meetup</a>
    </div>
  </div>
</footer>