<nav class="<%= ChsHerokuDemo::COLOR_THEME %> darken-1">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Heroku Demo</a>
      <span class="right">Sample application power by Heroku</span>
    </div>
  </div>
</nav>