<nav class="purple darken-1">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Heroku Demo</a>
  <!--    <ul id="nav-mobile" class="right hide-on-med-and-down">-->
  <!--      <li><a href="sass.html">Sass</a></li>-->
  <!--    </ul>-->
    </div>
  </div>
</nav>